.input {
  display: flex;
  height: 80px;
  width: 80px;
  flex: 1;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  color: #000;
  justify-content: flex-end;
  content: "fit-content";
  padding: 0.5em;
  font-weight: 300;
  font-size: 3em;
  align-items: flex-end;
  border: 1px solid #a3d1df;
  border-radius: 30px;
}
